.thumbnail img {
  width: 100%;
  height: 225px;
}

.details {
  padding: 10px;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: rgb(125, 123, 123);
  font-style: italic;
}

@media (max-width: 900px) {
  .thumbnail img {
    width: 100%;
    height: 260px;
  }
}
