.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mic-icon {
  width: 16px;
}

.search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.search-box img {
  width: 15px;
}
